[Unit]
Description=AIDE Check Timer
Documentation=man:aide(1)

[Timer]
OnCalendar=*-*-* 02:00:00
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
