[Unit]
Description=AIDE Automated Security Check
Documentation=man:aide(1)

[Service]
Type=oneshot
ExecStart=/usr/local/bin/aide-check
ExecStartPost=/bin/sh -c 'systemctl start hardening-monitor.service'
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
CPUSchedulingPolicy=batch

[Install]
WantedBy=multi-user.target
